node_modules
index.js
!public/images/flags/
!public/images/icons/
*.zip
.DS_Store
dist/
*.css.d.ts

# Directories from the old app structure
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
